<%- include("../partials/header") %>
<h1>
    <%= patient.firstName %> 
    <%= patient.lastName %>
</h1>
<h4><%= patient.phone %></h4>
<hr> 
<form action="/patients/<%= patient.id %>?_method=DELETE" method="POST">
    <button type="submit">Discharge Patient</button>
</form>
<hr> 
<a href="/patients/<%= patient.id %>/edit"><button>Update Patient Details</button></a><br>
<hr>
<a href="/patients/<%= patient.id %>/notes/new"><button>Enter Patient Note</button></a><br><br>
<% if (patient.note.length) { %>
    <ul>
        <% patient.note.forEach(function(note) { %>
            <li>
                <%= note.noteTitle %>
                <a href="/patients/<%= patient.id %>/<%=note.id %>"><button>View Note</button></a>
            </li>
                <% }) %>
                
                <% } else {%>
                   <h5>No Notes Yet</h5> 
                <% } %>
            </li>
        </ul>
<%- include("../partials/footer") %>