<%- include("../partials/header") %>
<h1 id="patient-show">
    <%= patient.firstName %> 
    <%= patient.lastName %>
</h1>
<h4><%= patient.phone %></h4>
<hr> 
<form action="/patients/<%= patient.id %>?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-secondary">Discharge Patient</button>
</form>
<hr> 
<a href="/patients/<%= patient.id %>/edit"><button type="button" class="btn btn-secondary">Update Patient Details</button></a><br>
<hr>
<a href="/patients/<%= patient.id %>/notes/new"><button type="button" class="btn btn-secondary">Enter Patient Note</button></a><br><br>
<hr>
<% if (patient.note.length) { %>
    <ul>
        <% patient.note.forEach(function(note) { %>
            <li>
                <%= note.noteTitle %>
                <a href="/patients/<%= patient.id %>/<%=note.id %>"><button type="button" class="btn btn-secondary">View Note</button></a>
            </li>
                <% }) %>
                
                <% } else {%>
                   <h5>No Notes Yet</h5> 
                <% } %>
            </li>
        </ul>
<%- include("../partials/footer") %>