<%- include("../partials/header") %>
<h1><%= patient.firstName %> <%= patient.lastName %></h1><br>
<h3>
    <label><%= patient.firstName %> <%= patient.lastName %></label><br>
    <label><%= note.noteTitle %></label><br>
    <label><%= note.noteDate %></label><br>
    <label><%= note.noteContent %></label><br>
</label>

<a href="/patients/<%= patient.id %>/<%= note.id %>/edit"><button type="button" class="btn btn-secondary" id="edit-note">Edit Note</button></a>
<form action="/patients/<%= patient.id %>/<%= note.id %>?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-secondary" id="delete-note">Delete Note</button>
</form>
</h3>



<%- include("../partials/footer") %>